.popupContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}
.popupPadding {
  padding: 15px;
}
.tFld {
  align-self: center;
  width: 100%;
}

.Button {
  margin-top: 15px;
  margin-left: 15px;
  padding: 100px;
}
.bCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
