.sCut {
  display: flex;
  justify-content: center;
}
.sCut .container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
}
.shortcut .vert {
  vertical-align: top;
  align-self: flex-end;
}
.vert {
  opacity: 0;
}

.shortcut:hover .vert {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.shortcut {
  display: flex;
  justify-content: center;

  flex: 1 1 17%;
}

.name {
  background-color: white;
  border-radius: 20px;
  overflow-wrap: break-word;
  max-width: 80px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 15px;
}
* {
  box-sizing: border-box;
}
